<div class="jumbotron">

<h2>Join the Party!</h2>
<%= render partial: "shared/error_list", locals: {new_object: @user} %>

<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password%>
  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.number_field :age %>
  <%= f.hidden_field :points, :value => 300 %>
  <%= f.submit "Sign Up", :class => "btn btn-primary btn-lg" %>
<% end %>

</div>
