<h2>User Info</h2>


First Name: <%= first_name(@user.name) %><br>
Last Name: <%= last_name(@user.name) %>
Username: <%= @user.username%> <br>
Email: <%= @user.email%> <br>
Age: <%= @user.age%><br>
Events attended: <%= events_attending(@user)%>
