<div class="jumbotron">

<h2><%= @event.name %></h2>

<ul>
  <% if @event.host == current_user %>
    <li class="list-group-item">Host: You're hosting!</li>
  <% else %>
    <li class="list-group-item">Host: <%= @event.host.name %></li>
  <% end %>

  <li class="list-group-item">Interest: <%= @event.interest.name %></li>

  <li class="list-group-item">Address: <%= @event.address %></li>

  <li class="list-group-item">Date: <%= @event.date %></li>

  <li class="list-group-item">Time: <%= @event.time %></li>

  <% if !(@event.host == current_user) && !(current_user.already_attending(@event)) %>
    <li class="list-group-item">Need 100 points to attend!</li>
  <% end %>

  <% if current_user.already_attending(@event)%>
    <li class="list-group-item">You're attending this event!</li>
  <% end %>
</ul>

<% if @event.host == current_user %>
  <h3>Guests:</h3>
  <% if @event.guests == [] %>
    <h5>None attending yet!</h5>
  <% else %>
    <ul>
      <% @event.guests.each do |guest| %>
        <li>
          <%= guest.name %> | <%= link_to "email" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if !(@event.host == current_user) && !(current_user.already_attending(@event))%>
  <%= form_tag add_guest_path(@event.id), method: :patch do %>
    <%= submit_tag "Attend this Event" %>
  <% end %>
<% end %>

<% if @event.host == current_user %>

    <%= form_tag edit_event_path(@event.id), method: :get do %>
    <%= submit_tag "Edit This Event" %>
    <% end %>

<% end %>
