<div class="jumbotron">

<h2><%= @event.name%></h2>
<li class="list-group-item">
  <%= @event.address %>
</li>
<li class="list-group-item">
<%= @event.datetime %>
</li>

<li class="list-group-item">

<%= @event.host.name %>
</li>
<li class="list-group-item">

<%= @event.interest.name %>
</li>

<%= link_to "Attend this Event" %>
</div>
