<nav class="nav nav-pills nav-fill fixed-top">

  <div class="nav-item nav-link">

  Welcome <%= first_name(current_user.name)%>
  </div>
  <%= link_to "User Homepage", current_user, :class => 'nav-item nav-link' %>
  <%= link_to "Create New Event", new_event_path, :class => 'nav-item nav-link' %>
  <%= link_to "All Events", events_path, :class => 'nav-item nav-link' %>
  <%= link_to "Logout", '/logout', :class => 'nav-item nav-link'%>
   </nav>

<div class="jumbotron">

<ul>
  <% if @event.host == current_user %>
    <li class="list-group-item">Host: You're hosting!</li>
  <% else %>
    <li class="list-group-item">Host: <%= @event.host.name %></li>
  <% end %>

  <li class="list-group-item">Interest: <%= @event.interest.name %></li>

  <li class="list-group-item">Address: <%= @event.address %></li>

  <li class="list-group-item">Date & Time: <%= @event.datetime %></li>

  <% if !(@event.host == current_user) && !(current_user.already_attending(@event)) %>
    <li class="list-group-item">Need 100 points to attend!</li>
  <% end %>

  <% if current_user.already_attending(@event)%>
    <li class="list-group-item">You're attending this event!</li>
  <% end %>
</ul>


<% if !(@event.host == current_user) && !(current_user.already_attending(@event))%>
  <%= form_tag add_guest_path(@event.id), method: :patch do %>
    <%= submit_tag "Attend this Event" %>
  <% end %>
<% end %>

<% if @event.host == current_user %>
  <%= link_to "Edit This Event", edit_event_path(@event) %> |
  <%= link_to "Homepage", current_user %>
<% end %>
