<!DOCTYPE html>
<html>
  <head>
    <title>EVENT-ation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <% if current_user %>
        Welcome <%= first_name(current_user.name) %>  |
        <%= link_to "User Homepage", current_user %>  |
        <%= link_to "Create New Event", new_event_path %>  |
        <%= link_to "All Events", events_path %>  |
        <%= link_to "Logout", '/logout'%>
    <% else %>

    <nav class="nav nav-pills nav-fill fixed-top">

        <%= link_to 'Login', '/login', :class => 'nav-item nav-link' %>
         <%= link_to 'Signup', '/signup', :class => 'nav-item nav-link' %>
       </nav>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>

  <%= yield %>

  <div id="sky">
    <div id="clouds"></div>
  </div>
  </body>
</html>
