<!DOCTYPE html>
<html>
  <head>
    <title>EVENT-ation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <% if current_user %>
    <nav class="nav nav-pills nav-fill fixed-top">
        <div class="nav-item nav-link">

        Welcome <%= first_name(current_user.name)%>
      </div>
        <%= link_to "User Homepage", current_user, :class => 'nav-item nav-link' %>
        <%= link_to "Create New Event", new_event_path, :class => 'nav-item nav-link' %>
        <%= link_to "All Events", events_path, :class => 'nav-item nav-link' %>
        <%= link_to "Logout", '/logout', :class => 'nav-item nav-link'%>
      </nav>
    <% else %>

    <nav class="nav nav-pills nav-fill fixed-top">

        <%= link_to 'Login', '/login', :class => 'nav-item nav-link' %>
         <%= link_to 'Signup', '/signup', :class => 'nav-item nav-link' %>
       </nav>
       <div id="sky">
         <div id="clouds"></div>
       </div>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>

  <%= yield %>

  </body>
</html>
